.location3{
    display: flex;
    text-align: left;
    position: relative;
    left: 2.5vw;
    font-size: 1.2rem;
    font-weight: 600;
}
.link2{
    top: 2vh;
    margin-bottom: 2vh;
    position: relative;
    right: 24vw;  
}