.ordersuccesful{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:15vh;
}
#ordersuccessful{
    height: 40vh;
}
#orderpara{
    font-size: 1.2rem;
}
.emaildiv{
    width: 55vw;
    display: flex;
    flex-direction: row;
    gap: 19vw;
    border: 1px solid gray;
    background-color: #f9f9f9;
}
#emaildiv{
    position: relative;
    left: 5vw;
}
#shopbutton{
    background-color: #3371b5;
    color: white;
    width: 12vw;
    position: relative;
    top: 3vh;
}
table{
    width: 100%;
    border: 1px solid grey;  
    border-collapse: collapse;
}
td{
    border: 1px solid gray; 
    width: 25%;
}
