
.appbar{
    background-color: #A03037;
}
#typo{
    flex-wrap: nowrap;
    margin-left: 10vw;
}
#icon{
    color: white;
    margin-left:2.5vw;
    
}
#image1{
    margin-top: 0;
    width: 5vh;
    padding: 2vh 0;
}
.booklogo{
    display: flex;
    
}
.profile{
    display: flex;
    flex-direction: column;
    margin-left:23vw;
}
#profile{
    font-size: 0.8rem;
    margin-top: 0;
   
}
.cart{
    display: flex;
    flex-direction: column;
}
#cart{
    font-size: 0.8rem;
    padding-left: 2.5vw;
    margin-top: 0;
}
