.mainforget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forgetpass{
    position: relative;
    top:18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emailclass1{
    display: flex;
    flex-direction: column;
    background-color: white; 
}
#forget{
    font-size: 1.5rem;
    font-weight:500
}

#submit1{
    margin-top: 2vh;
    width: 16.9vw;
    height: 6vh;
    background-color: #A03037;
    color: #f8f6f6;
    font-size: large;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.email{
    margin-top: 2vh;
}

#createacc{
    margin: 1vw;
    margin-left: 5vw;
    color: black;
    font-weight: bold;
    background-color: #f8f6f6;
    text-decoration: none;

}
#emailtext{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 13.5vw;
}

